/* styles */
/* ========== Learning specificity ================ 

// Type selectors   | value: 0,0,1      | e.g. img
// Class selectors  | value: 0,1,0      | e.g. .recipe-card
// Id selectors     | value: 1,0,0      | e.g. #container 

/* =========== CHALLENGE 1 ========================= //
// Change the background color of the recipe-card
//      -- the style must be above the .recipe-card selector
//      -- you cannot edit the .recipe-card rule
*/


* {
line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ========== CHALLENGE 1 ========== //
//
// Use the type selector to:
// 1. Set the image width to 200px
// 2. Set the list style of <ul> to none
// 3. Add a dark red color to the <h1>
//
*/

img {
    width: 200px;
    height: auto;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
    text-transform: uppercase;
}

/* ========== CHALLENGE 2 ========== //
//
// 1. Style the recipe card so that it has a 
//      -- background color of #FFFAFA
//      -- text is aligned center
// 2. Set text inside recipe-content to align left
//
*/

/* Challenge 1 style */
/* Changed the background color of the recipe card to yellow */
/* This style was commented off to make room for other challenges */
/*.container .feature {
    background-color: yellow ;
}*/
.recipe-card {
    width: 400px;
    background-color: #FFFAFA;
    text-align: center;
}

.recipe-content {
    text-align: left;
}

/* ========== CHALLENGE 3 ========== //
//
// 1. Change <h2> elements within a <ul> and <li> to be 16px
// 2. Update recipe card link styles, set:
//      -- background color to #fc9400
//      -- text color to white
//      -- remove underline
*/

/* solutions to challenge -3 */

ul li h2 {
        font-size: 16px;
}  

recipe-card a {
    background-color: #fc9400;
    color: white;
    text-decoration: none;
}


















